<%- include('partials/indexHeader') -%>

<div class="container w-50">
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
                >Email address</label
            >
            <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
            />
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
            />
        </div>

        
        <div class="mb-3">
            <button type="submit" class="btn btn-warning w-100" type="button">Submit</button>
        </div>
    </form>
    <a href="/signup">
         <button type="button" class="btn btn-dark w-100">SignUp</button>
    </a>
</div>